body {
    background-color: gray;
}

header {
    background-color: black;
}

header ul {
    color: white;
    list-style-type: none; /*箇条書きのマーカーを消す*/
    text-align: center;
    font-size: 0; /*子要素の隙間をなくす*/
}

header li {
    display: inline-block; /*箇条書きを横並びにする*/
    font-size: 17px;
    padding: 10px;
}

header .childMenu {
    background-color: white;
    height: auto;
}

header .childMenu ul {
    color: white;
    list-style-type: none; /*箇条書きのマーカーを消す*/
    text-align: center;
}

header .childMenu li {
    display: inline-block; /*箇条書きを横並びにする*/
    color: black;
    border: solid 1px black;
    font-size: 15px;
    padding: 3px 12px;
    border-radius: 18px;
    margin: 17px 10px;
    transition: all 1000ms 0s ease; /*アニメーションの設定*/
}

.move {
    animation: slideIn 600ms ease 0s;
}

@keyframes slideIn {
    0% {
        opacity:0;
        transform: translateY(-30px);
    }
    100% {
        opacity:1;
        transform: translateY(0px);
    }
}